* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    }

#wrapper {

    display: grid;
    border: solid 1px #000000;
    width: 100%;
    grid-template-areas: 
    'na na na'
    'm1 m2 m3'
    'm1 m2 m3'
    'm1 m2 m3';

}



nav {
display: flex;
justify-content: flex-end;
align-items: center;
height: 10vh;
grid-area: na;
background-color: rgb(105, 96, 96);
font-family: Georgia, 'Times New Roman', Times, serif ;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.navLinks li {
list-style: none;
}

.navLinks a {
color: rgb(255, 255, 255);
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: snow;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    }


.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);


}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}



.navLinks {
display: flex;
flex-direction: column;
justify-content: space-around;
position: absolute;
right: 0px;
height: 90vh;
top: -90vh;
background-color: rgb(105, 96, 96);
align-items: center;
width: 14rem;
transition: all 1s;
}

main{
grid-area: m1;
height: 90px;
}

aside { 
grid-area: m2;
height: 50px;
display: flex;
align-items: center;
justify-content: space-around;
}


.navactive {
    transform: translateY(100vh);
}

#svartset{
width: 250px;
height: 350px;

}
#rosaset{
width: 250px;
height: 350px;
}
#gratopp{
width: 250px;
height: 350px;
}

#lada{
justify-content: space-around;
display: flex;
color: black;
}
@media screen and (max-width:700px){
   
   #lada{
       display: grid;
       grid-template-areas: 
       'sv'
       'rs'
       'gr';
   }
   
    #svartset{
        width: 250px;
        height: 350px;
        grid-area: sv;
        }
        #rosaset{
        width: 250px;
        height: 350px;
        grid-area: rs;
        }
        #gratopp{
        width: 250px;
        height: 350px;
        grid-area: gr;
        }   
}
#lada2{
justify-content: space-around;
display: flex;
}
figcaption{
text-align: center;
color: black;
}

#lada3{
justify-content: space-around;
display: flex;
font-size: 25px;
}

#shop{
font-size: 70px;
display: flex ;
justify-content: center;
}

#shoppa{
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10px; 
}
#man{
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
}


body{
   font-family: 'Times New Roman', Times, serif;
   background-image: url("../img/bakgrund.jpg");
   background-size: cover;
}

#women3{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

footer{
height: 300px;
display: flex;
justify-content: center;
align-items: center;
grid-area: m3;
}

#twitter{
height: 50px;
width: 50px;
}
#instagram{
height: 50px;
width: 50px;

}